// app global css in SCSS form
.layout-bg {
    background: #F5F3F2;
  }
.bg-color-F5F {
  background: #F5F3F2 !important;
  }
.bg-color-7A7 {
  background: #7A7B78 !important;
  }
.bg-color-686 {
  background: #686A67 !important;
  }
.bg-color-CB5 {
  background: #CB523E !important;
  }
.bg-color-953 {
 background: #95302E !important;
}
.bg-color-CC5 {
 background: #CC5D20 !important;
}
.bg-color-D98 {
  background: #D9883D !important;
 }
.bg-color-822 {
 background: #822327 !important;
}
.bg-color-B2B {
  background: #B2B6B6 !important;
 }
.bg-color-DFE {
  background: #DFE0D9 !important;
}
.text-color-333 {
    color: #333333 !important;
  }
.text-color-B13 {
color: #B13B2E !important;
}
.text-color-953 {
 color: #95302E !important;
}
.text-color-CC5 {
 color: #CC5D20 !important;
}
.text-color-822 {
 color: #822327 !important;
}
.text-color-686 {
 color: #686A67 !important;
}
.text-color-DB9 {
 color: #DB9C5E !important;
}
.text-color-F0C {
 color: #F0C2A2 !important;
}
.text-color-B2B {
  color: #B2B6B6 !important;
 }
.text-color-7A7 {
  color: #7A7B78 !important;
}
.text-color-F5F {
  color: #F5F3F2 !important;
}